#events {
  ul {
    list-style-type: none;
    margin-left: 0;
  }
}

.event {
  h2 {
    background-color: #E70012;
    color: #FDD5C3;
    font-size: 14pt;
    padding: 10px;
  }
  h3 {
    font-size: 16pt;
    padding: 5px 0 10px;
  }
  div {
    padding: 10px;
  }
}