<div class="section group">
  <header class="col span_2_of_3">
    <h1>MadRailers</h1>
    <h2>Madison's Ruby and Rails Meetup Group</h2>
  </header>
  <div id="links" class="col span_1_of_3">
    <ul>
      <li><a href="http://meetup.com/Mad-Railers">RSVP for events on Meetup.com</a></li>
      <li><a href="http://twitter.com/MadRailers">Follow @madrailers on Twitter<a></li>
      <li><a href="https://github.com/madrailers">View our repos on Github</a></li>
    </ul>
  </div>
</div>

<div class="section group">
  <div class="col span_1_of_3">
    <section id="description">
      <h2>About</h2>
      <p><b>Welcome</b>! This page is the nexus of information about the MadRailers Meetup; a Madison, WI-based technology group focused on <a href="http://ruby-lang.org">Ruby</a> and <a href="http://rubyonrails.org">Ruby-on-Rails</a>.</p>
      <p>You might be thinking <b>"What's up with this page?"</b> Well- we're looking to <b>crowdsource</b> the design and implementation of the site. We want to keep it as a <b>single page</b> that includes links to our social media and content videos, but within those general guidelines please <a href="https://github.com/madrailers/madrailers.github.io">fork the repo</a> and start <a href="https://github.com/madrailers/madrailers.github.io/pulls">submitting pull requests</a>!</p>
    </section>

    <section>
      <h2>Upcoming Events</h2>
      <div id="events"></div>
    </section>
  </div>

  <div class="col span_2_of_3">
    <h2>Recent Presentations</h2>
    <section id="videos"></section>
  </div>
</div>